<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CCXRealmClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <CCXRealmClient.Properties.Settings>
      <setting name="profile_selected" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="profile_1" serializeAs="String">
        <value />
      </setting>
      <setting name="profile_2" serializeAs="String">
        <value />
      </setting>
      <setting name="profile_3" serializeAs="String">
        <value />
      </setting>
    </CCXRealmClient.Properties.Settings>
  </userSettings>
</configuration>